* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    /* z-index: 0; */
}
p, h1, h2, h3, h4, h5 {
    margin:0;
    padding: 0;
    color: #333333;
}

header {
    width: 100%;
    background-image:  linear-gradient(
        rgba(198, 108, 73, 0.4), 
        rgba(198, 108, 73, 0.4)
      ), url(../png/bg-1.png) ;
    background-size:  100% 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0 50px 0px;
}

header * {
    
    color:white;
}

.about {
    padding: 0px 29px 24px 34px;
}
.skills {
    padding: 0px 34px 25px 34px;
    background-color: #FFFAF2;
}
.skills-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-section {
    display: flex;
    flex-direction: row;
}

.skill-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    flex-basis: 100px;
}

.skill-info {
    font-size: 12px;
    line-height: 25px;
    position: relative;
    float:right
}